*{
    margin: 0;
    padding: 0;
    font-family:'Merriweather',serif;
}
.container{
    width: 100vw;
    height: 100vh;
    background-image: url(sahara.jpg);
    background-size: cover;
}
.caml{
    width: 50px;
    position: absolute;
    top: 30px;
    left: 115px;
}
.nav{
    display: flex;
    color: snow;
    justify-content: end;
}
.nav1{
    margin-top: 37px;
    margin-right: 80px;
    text-decoration: none;
    color: snow;
}
.nav2{
    margin-top: 37px;
    margin-right: 80px;
    text-decoration: none;
    color: snow;
}
h1{
    font-size: 95px;
    font-weight: bold;
    color: snow;
    margin-top: 200px;
    margin-left: 110px;
}
.top{  
    width: 43%;
    font-size: 16px;
    line-height: 1.5;
    font-weight: bold;
    line-height: 1.5;
    color: snow;
    margin-top: 5px;
    margin-left: 110px;
}
button{
    background-color: snow;
    color: black;
    font-size: 20px;
    border: 1px solid white;
    border-radius: 150px;
    width: 17%;
    height: 6%;
    margin-top: 2%;
    margin-left: 115px;
}
.image{
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    color: white;
}

.img1{
    position: absolute;
    top: 15%;
    left: 55%;
    width: 14%;
    height: 33%;
    background-image: url(./pic-1.png);
    background-size: cover;
    border-radius: 18px;
}
.img1:hover{
    transform: translateY(-20px);
}
.img2{
    position: absolute;
    top: 15%;
    left: 75%;
    width: 14%;
    height: 33%;
    background-image: url(./pic-2.png);
    background-size: cover;
    border-radius: 18px;
}
.img2:hover{
    transform: translateY(-20px);
}
.img3{
    position: absolute;
    top: 55%;
    left: 55%;
    width: 14%;
    height: 33%;
    background-image: url(./pic-3.png);
    background-size: cover;
    border-radius: 18px;
}
.img3:hover{
    transform: translateY(-20px);
}
.img4{
    position: absolute;
    top: 55%;
    left: 75%;
    width: 14%;
    height: 33%;
    background-image: url(./pic-4.png);
    background-size: cover;
    border-radius: 18px;

}
.img4:hover{
    transform: translateY(-20px);
}

.para{
    position: absolute;
    width: 60%;
    top: 5%;
    right: 30%
}
.para1{
    position: absolute;
    top: 14%;
    right: 15%;
    font-size: 10px;
    line-height: 2;
}
@media (min-width:360px) and (max-width:415px){
    .container{
        width: 100vw;
        height: 200vh;
        background-image: url(sahara.jpg);
        background-size: contain;
    }
    .caml{
        width: 35px;
        position: absolute;
        top: 15px;
        left: 35px;
    }
    .nav{
        display: flex;
        color: snow;
        justify-content: start;
        margin-left: 100px;
        font-size: 13px;
    }
    .nav1{
        margin-top: 25px;
        margin-right: 30px;
        text-decoration: none;
        color: snow;
    }
    .nav2{
        margin-top: 25px;
        margin-right: 30px;
        text-decoration: none;
        color: snow;
    }
    h1{
        font-size: 30px;
        font-weight: bold;
        color: snow;
        margin-top: 16px;
        margin-left: 40px;
    }
    .top{  
        width: 70%;
        font-size: 10px;
        line-height: 1.5;
        font-weight: bold;
        color: snow;
        margin-top: 2px;
        margin-left: 40px;
    }
    button{
        background-color: snow;
        color: black;
        font-size: 12px;
        border: 1px solid white;
        border-radius: 20px;
        width: 35%;
        height: 25px;
        margin-top: 2%;
        margin-left: 45px;
    }
    .image{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: white;
    }
    .img1{
        position: absolute;
        top: 32%;
        left: 20%;
        width: 54%;
        height: 33%;
        background-image: url(./pic-1.png);
        background-size: cover;
        border-radius: 20px;
    }
    .img1:hover{
        transform: translateY(-20px);
    }
    .img2{
        position: absolute;
        top: 70%;
        left: 20%;
        width: 54%;
        height: 33%;
        background-image: url(./pic-2.png);
        background-size: cover;
        border-radius: 20px;
    }
    .img1:hover{
        transform: translateY(-20px);
    }
    .img3{
        position: absolute;
        top: 108%;
        left: 20%;
        width: 54%;
        height: 33%;
        background-image: url(./pic-3.png);
        background-size: cover;
        border-radius: 20px;
    }
    .img1:hover{
        transform: translateY(-20px);
    }
    .img4{
        position: absolute;
        top: 146%;
        left: 20%;
        width: 54%;
        height: 33%;
        background-image: url(./pic-4.png);
        background-size: cover;
        border-radius: 20px;
    }
    .img1:hover{
        transform: translateY(-20px);
    }
    .para1{
        position: absolute;
    top: 16%;
    width: 85%;
    left: 10%;
    font-size: 10px;
    line-height: 2;
    }
}

@media (min-width:415px) and (max-width:856px){
    .container{
        width: 100vw;
        height: 200vh;
        background-image: url(sahara.jpg);
        background-size: contain;
    }
    .caml{
        width: 50px;
        position: absolute;
        top: 20px;
        left: 25px;
    }
    .nav{
        display: flex;
        color: snow;
        margin-right: 45px;
        font-size: 15px;
    }
    .nav1{
        margin-top: 25px;
        margin-right: 30px;
        text-decoration: none;
        color: snow;
    }
    .nav2{
        margin-top: 25px;
        margin-right: 30px;
        text-decoration: none;
        color: snow;
    }
    h1{
        font-size: 35px;
        font-weight: bold;
        color: snow;
        margin-top: 20px;
        margin-left: 25px;
    }
    .top{  
        width: 90%;
        font-size: 15px;
        line-height: 1.5;
        font-weight: bold;
        color: snow;
        margin-top: 5px;
        margin-left: 25px;
    }
    button{
        background-color: snow;
        color: black;
        font-size: 18px;
        border: 1px solid white;
        border-radius: 20px;
        width: 25%;
        height: 30px;
        margin-top: 2%;
        margin-left: 82px;
    }
    .image{
        display: flex;
        flex-wrap: wrap;
        flex-direction: row;
        color: white;
    }
    .img1{
        position: absolute;
        top: 40%;
        left: 20%;
        width: 54%;
        height: 33%;
        background-image: url(./pic-1.png);
        background-size: cover;
        border-radius: 20px;
    }
    .img1:hover{
        transform: translateY(-20px);
    }
    .img2{
        position: absolute;
        top: 78%;
        left: 20%;
        width: 54%;
        height: 33%;
        background-image: url(./pic-2.png);
        background-size: cover;
        border-radius: 20px;
    }
    .img1:hover{
        transform: translateY(-20px);
    }
    .img3{
        position: absolute;
        top: 116%;
        left: 20%;
        width: 54%;
        height: 33%;
        background-image: url(./pic-3.png);
        background-size: cover;
        border-radius: 20px;
    }
    .img1:hover{
        transform: translateY(-20px);
    }
    .img4{
        position: absolute;
        top: 154%;
        left: 20%;
        width: 54%;
        height: 33%;
        background-image: url(./pic-4.png);
        background-size: cover;
        border-radius: 20px;
    }
    .img1:hover{
        transform: translateY(-20px);
    }
    .para{
        position: absolute;
        top: 5%;
        left: 8%;
        width: 70%;
        font-size: 25px;
    }
    .para1{
        position: absolute;
        top: 20%;
        left: 8%;
        width: 90%;
        font-size: 12px;
        line-height: 2;
        /*     position: absolute;
    top: 16%;
    width: 85%;
    left: 10%;
    font-size: 10px;
    line-height: 2; */
    }
}